asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
dj-rest-auth==6.0.0
Django==5.0.6
django-allauth==0.63.3
django-auth-token==0.2.15
django-chamber==0.6.17
django-choice-enumfields==1.1.3
django-generic-m2m-field==0.0.9
django-ipware==7.0.1
django-rest-authtoken==2.1.4
djangorestframework==3.15.2
filemagic==1.6
idna==3.7
import-string==0.1.0
pillow==10.4.0
PyPrind==2.11.3
python-ipware==3.0.0
pytz==2024.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
tqdm==4.66.4
tzdata==2024.1
Unidecode==1.3.8
urllib3==2.2.2
